.nav { 
    background-color: #F9F9FA;
    padding: 20px 50px;
    position: fixed;
    bottom: 0;
    width: 100%;    
    box-sizing: border-box;
    border-top: 1px solid rgba(179, 179, 179,0.5);

}

.nav__ul{
    display: flex;
    justify-content: space-between;
    
}

.nav__link{
    padding: 20px;
    
}

.nav__link{
    position: relative;
}

/* nav__notification */
.nav__notification_1{
    background-color: tomato;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 99%;
    position: absolute;
    top: 0;
    left: 40px;
}

.nav__notification_circle{
    background-color: tomato;
    color: white;
    align-items: center;
    width: 8px;
    height: 8px;
    border-radius: 99%;
    position: absolute;
    top: 5px;
    left: 40px;
}